# Do not keep production credentials in the repository,
# instead read the configuration from the environment.
#
# Example:
#   postgresql://foo:bar@localhost:9000/foo_test?pool=5&timeout=3000
#
#   url: <%= ENV["PRODUCTION_DATABASE_URL"] %>
staging:
  url: <%= ENV["STAGING_DATABASE_URL"] %>
production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: zom_production
  username: ubuntu
  password: fnkfynbc
  host: localhost
